<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        * {box-sizing: border-box}
        body {
           margin: 20px;
           background-color: #f5f5f5;
           display: flex;
           justify-content: center;
           align-items: center;
        }
        .container {
            width: 500px;
            height: 600px;
            background-color: white;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

            overflow: hidden;
        }
        .header {
            background-color: #385ea3;
            color: white;
            text-align: center;
            padding: 15px;
        }
        .chat-box {
            flex: 1;
            background-color: white;

            overflow-y: auto;
            padding: 20px;
        }

        .msg-box {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 15px;
        }
        .name {
            font-size: 12px;
            color: #888;
            margin-bottom: 5px;
            margin-left: 5px;
        }
        .msg {
            background-color: #e9e9eb;
            padding: 10px 15px;
            border-radius: 15px;
            border-top-left-radius: 0;
            max-width: 80%;
        }

        .input-area {
            background-color: #f0f2f5;
            padding: 15px;
            border-top: 1px solid #ddd;

            display: flex;
            gap: 10px;
        }
        .input-sender {
          width: 80px;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
        }
        .input-msg {
            flex: 1;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        .btn-send {
           background-color: #385ea3;
           color: white;
           border-radius: 5px;
           border : none;
           padding: 10px;
           cursor: pointer;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="header">
        <h3>STOMP 채팅방</h3>
        <p>새로고침 없음(WebSocket + Stomp)</p>
    </div>
    <div class="chat-box" id="chatBox">

        <!-- 반복문 처리 예정     -->
        {{#chatList}}
        <div class="msg-wrap">
            <div class="msg-box">
                <span class="name">{{sender}}</span>
                <span class="msg">{{message}}</span>
            </div>
        </div>
        {{/chatList}}

    </div>

    <form action="" method="post" class="input-area" id="chatForm" >
        <!-- 현재 페이지의 방 번호       -->
        <input type="text" name="roomId" class="input-sender" id="roomId" value="{{roomId}}" required>
        <input type="text" name="sender" class="input-sender" id="sender" value="익명" required>
        <input type="text" name="message" class="input-msg" id="message" placeholder="내용을 입력" autofocus required>
        <button type="submit" class="btn-send">전송</button>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.3.0/bundles/stomp.umd.min.js"></script>
    <script>
        const chatBox = document.getElementById("chatBox");
        const chatForm = document.getElementById("chatForm");
        // 현재 페이지의 방 번호를 가져옵니다. (컨트롤러에서 넘겨준 값)
        const currentRoomId = document.getElementById("roomId").value;

        // XSS 방어용 텍스트 치환 함수 (HTML Escape)
        function escapeHTML(text) {
            // 정규 표현식
            return text.replace(/&/g, '&amp;') // 1. 문장 전체에서 '&' 찾아서 안전한 단순 문자열로 치환
            .replace(/</g, '&lt;')
            .replace(/>/g, '&gt;')
            .replace(/"/g, '&quot;') // 쌍따옴표 무력화
            .replace(/'/g, '&#039;'); // 홑따옴표 무력화
        }

        // 스크롤 바닥 고정 (scrollHeight를 대입해야 바닥으로 내려갑니다)
        chatBox.scrollTop = chatBox.scrollHeight;

        // 1. Stomp 클라이언트 객체 (전역으로 설정)
        let stompClient = null;

        // 2. STOMP 연결 설정 함수 (화면 로딩 시 바로 실행 시킬 예정)
        function connect() {

            stompClient = new StompJs.Client({
                brokerURL: 'ws://' + window.location.host + '/ws-stomp',
                // 연결이 끊기면 5초 후 자동 재연결 시도
                reconnectDelay: 5000,

                onConnect: (frame) => {
                    console.log('STOMP 연결 성공' + frame);

                    // 구독 설정
                    stompClient.subscribe('/sub/chat/' + currentRoomId, (message) => {
                        console.log(message);
                        showMessage(message.body);
                    });
                },

                onStompError: (frame) => {
                    console.error('STOMP 에러' + frame.headers['message']);
                }
            });
            // 위에서 만든 설정을 실제 서버에 연결 요청합니다.
            stompClient.activate();
        } // end of connect

        // 메시지 전송 함수 (발행)
        function sendMessage(sender, message) {
            // 현재 stomp 연결 되어 있는지 확인 (방어적 코드 작성)
            if (stompClient && stompClient.connected) {
                
                const payload = {sender: sender, message: message};

                // 목적지 주소 뒤에 동적 변수 currentRoomId 조립하여 특정 방으로 메시지를 전송함
                stompClient.publish({
                    destination: "/pub/chat/message/" + currentRoomId,
                    body: JSON.stringify(payload)
                });
            }
        } // end of sendMessage


        // 폼 제출 이벤트 처리
        chatForm.addEventListener('submit', function(e) {
            e.preventDefault(); // 기본 제출 이벤트 막는 설정

            const senderInput = document.getElementById("sender");
            const messageInput = document.getElementById("message");

            const sender = senderInput.value;
            const message = messageInput.value;

            if(!message.trim()) return;

            sendMessage(sender, message);

            messageInput.value = ""; // 초기화 코드
            messageInput.focus(); // 포커스 
        });

        // 페이지 종료시 연결 닫기
        window.addEventListener('beforeunload', () => {
            if(stompClient) {
                stompClient.deactivate();
            }
        });

        // 화면에 메시지 추가 함수
        function showMessage(rawData) {
            console.log("rawData", rawData);
        }

        // 연결 호출
        connect();

    
    </script>
</body>
</html>